<%if @student.errors.any? %>
    <div class = "container">
        <div class= "row sign-up-form">
            <div class="col s12 m12 l12">
                <div class="card-panel red lighten-2">
                    <span class= "white-text">
                        <%= pluralize(@student.errors.count, "error")%>
                        Prohibited your profile from being created
                        <ul>
                        <%@student.errors.full_messages.each do |message| %>
                            <li><%= message %>
                            <% end %>
                        </ul>
                        <% end %>
                    </span>
                </div>    
            </div>   
        </div>   
    </div>   
<div class="container">
    <div class="row center sign-up-form">
        <div class="row center">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h3>Sign Up!</h3>
                    <div class="row">
                        <%= form_for(@student, html: {class: "col s12"}) do |f| %>
                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.text_field :name, placeholder: "Full Name", autofocus: true %>
                                    <%= f.label :name %>
                                </div>
                            </div>
                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.text_field :email, placeholder: "Email", autofocus: true %>
                                    <%= f.label :email %>
                                </div>
                            </div>
                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.submit "Sign up", class: "btn light-blue waves-effect waves-light right" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>